<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <h1>Articles</h1>

    <ul>
      <% articles.each do |article| %>
        <li><a href="<%= article[:url] %>"><%= article[:title] %></a></li>
      <% end %>
    </ul>

    <form id="new-article-form" action="/articles" method="post">
      <h2>New Article</h2>

      <% if !errors.empty? %>
        <h3>There were errors with your last submission:</h3>

        <ul class="errors">
          <% errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="field">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
      </div>

      <div class="field">
        <label for="title">URL:</label>
        <input type="text" id="url" name="url">
      </div>

      <div class="action">
        <input type="submit">
      </div>
    </form>

    <a href="#" id="show-form">Add Article</a>

    <script src="/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="/js/articles.js"></script>
  </body>
</html>
